.rodape{

    display:flex;
    flex-direction:column;

    width:100%;
    justify-self: flex-end;
    
    background-color:#E6324B;
    padding:10px;

    nav{

        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;

        width:100%;
        gap:10px;
        margin-bottom:10px;

        a{

            color:#2A96FA;
            font-size:14px;

            svg{

                margin-left:5px;
            }
        }
    }
}