.page-home-filmes{

    min-height:100vh;
    background:#353634;

    >header .link{

        display:none;
    }

    main{

        min-height:90vh;
    }

    .section-pesquisa{

        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
            
        position:relative;
        background-color: #F2E3C6;
        height:30vh;

        >img{

            position:absolute;
            height:inherit;
            width:auto;
        }

        .box-pesquisa{

            display:flex;
            flex-direction: row;

            width:100%;
            max-width:400px;

            z-index:1;
            border-radius:20px;
            background-color: #2B2B2B;

            gap:5px;
            padding:10px 5px;
            margin-top:50px;

            input{

                flex-grow:1;
            }
        }
    }
 
    .section-listagem-filmes{

        display:flex;
        flex-direction:column;

        padding:20px;
        gap:30px;

        >div{

            display:flex;
            flex-direction:column;

            .listagem{

                display:flex;
                flex-direction: row;

                gap:30px;
                padding:20px 0px;
                width:100%;

                overflow-x: scroll !important;
            }

            .listagem::-webkit-scrollbar {

                height: 8px;
            }
            
            .listagem::-webkit-scrollbar-track {
                background-color: transparent;
                
            }
            
            .listagem::-webkit-scrollbar-thumb {
                background-color: #E6324B;
                border-radius: 10px;
                min-width:100px;
            }

            .listagem::-moz-scrollbar{

                scrollbar-width: thin;
                scrollbar-color: #E6324B transparent;
            }
        }
    }
}

@media(max-width:768px){

    .page-home-filmes .section-listagem-filmes .container-listagem .listagem{

        gap:10px;
    }
}