.informacoes-filme-page{

    background-color:#2B2B2B;
    min-height:100vh;

    .container-button{
        
        display:flex;
        flex-direction: row;
        justify-content: flex-end;

        width:100%;
        padding:0px 20px;
        margin-top:55px;

        .button-retornar{

            background-color: #F2E3C6;
            border-radius:10px;

            padding:10px;

            color:#000;
            text-decoration: none;
        }   
    }
    
    .infs-filme{

        display:flex;
        flex-direction: row;
        
        position:relative;
        padding:10px 20px;
        gap:20px;

        .container-backdrop{

            position:absolute;
            overflow-y: hidden;

            background-size: cover;
            background-position: center;
            background-color: #fff;

            width:100%;
            height: 95%;

            z-index:0;
            opacity:0.1;
        }

        #poster{

            min-width:20%;
            height:auto;
        }

        *{

            z-index:1;
        }

        .container-infs{

            .subcontainer-titulo{

                display: flex;
                flex-direction: column;

                gap:10px;
                margin-bottom:30px;
  
                h4{

                    font-weight:400;
                }
            }

            .subcontainer-infs{

                display:flex;
                flex-direction: column;

                gap:20px;

                .destacar{

                    color:#FFC6A5;
                }

                p,span{

                    font-size:16px;
                }

                #avaliacao svg{

                    margin-left:5px;
                }
            }
            
        }
    }

    .trailers-filme{

        display:flex;
        flex-direction: column;

        padding:20px;

        .container-titulo{
            
            margin-bottom:20px;

            svg{

                margin-left:5px;
            }
        }

        .listagem-videos{

            display:flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap:wrap;

            gap:10px;

            iframe{

                border-radius:10px;
                border:none;
            }
        }
    }
}

@media(max-width:980px){

    .informacoes-filme-page .infs-filme{

        flex-direction: column;

        img{

            width:40%;
            align-self: center;
        }

        .container-infs .subcontainer-infs {
            
            p{

                font-size:14px;
            }

            .destacar{

                font-size:14px;
            }
        }
    }
}

@media(max-width:480px){

    .informacoes-filme-page .infs-filme .container-infs .subcontainer-infs {
            
        p{

            font-size:12px;
        }

        .destacar{

            font-size:12px;
        }
    }

    .informacoes-filme-page .trailers-filme .listagem-videos iframe{

        height:200px;
    }
}