.informacoes-filme-page{

    background-color:#2B2B2B;
    min-height:100vh;

    .button-retornar{

        position:absolute;
        top:100px;
        left:90%;
    }

    .infs-filme{

        margin-top:50px;
    }
}